<div class="well">
  <div ng-hide="cart.checkingOut">
    <h2>Your Cart</h2>
    <em ng-show="cart.isEmpty()">
      Your cart currently doesn't have any items.
      Please buy something.

    </em>
    <div ng-repeat="(key, value) in cart.items">
      <strong>Item</strong>: {{products.products[key].title}}
      <br>
      <strong>Quantity</strong>: {{cart.items[key]}}
    </div>
    <h3 ng-hide="cart.isEmpty()">Total: {{ cart.total | currency:"$"}}</h3>
    <hr>
    <button ng-disabled="cart.isEmpty()" ng-click="cart.clearCart()" class="btn btn-danger pull-right">
      Clear Cart
    </button>
    <button ng-disabled="cart.isEmpty()" class="btn btn-primary" ng-click="cart.checkingOut = true">
      Checkout
    </button>
  </div>
  <div ng-show="cart.checkingOut">
    <jc-checkout></jc-checkout>
  </div>
</div>