<ng-form name="user">
  <div class="control-group">
    <input ng-model="user.name" ng-pattern="validation.name" required placeholder="Your Name">
  </div>
  <div class="control-group">
    <input ng-model="user.address1" ng-pattern="validation.address1" required>
  </div>
  <div class="control-group">
    <input ng-model="user.address2" ng-pattern="validation.address2" required>
  </div>
  <div class="control-group">

    <input type="checkbox" ng-model="user.promise" required> I promise to pay Jeff.
  </div>
  <button ng-disabled="user.$invalid" ng-click="cart.submit(user)">
    Submit
  </button>
  <button ng-click="cart.checkingOut = false">
    Cancel
  </button>
</ng-form>