<div class="row product" ng-repeat="product in products | limitTo:5">
  <div class="thumbnail" style="background-image:url({{product.thumbnail}})">
  </div>
  <div class="title">
    {{product.title}}: {{ product.price | currency:"$"}}
  </div>
  <div class="description">
    {{ product.description }}
  </div>
  <div class="actions">
    <button class="btn btn-primary" ng-disabled="cart.checkingOut" ng-click="cart.add(product.id)">Add 1</button>
    <button class="btn btn-danger" ng-disabled="cart.checkingOut" ng-click="cart.remove(product.id)">
      Remove 1
    </button>
</div>